SECRET_KEY=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_PASSWORD=

# Скрыты настройки для celery (url  доступа)
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

# Настройки для отправки сообщения в Телеграмм-бот
BOT_TOKEN=
TELEGRAM_CHAT_ID=